USE [master]
GO
/****** Object:  Database [TweetBotDB]    Script Date: 01/06/2016 11:32:08 p. m. ******/
CREATE DATABASE [TweetBotDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TweetBotDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TweetBotDB]
GO
/****** Object:  Table [dbo].[BannedWords]    Script Date: 01/06/2016 11:32:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannedWords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bannedWord] [nvarchar](50) NOT NULL,
	[timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hashtags]    Script Date: 01/06/2016 11:32:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hashtags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hashtag] [nchar](50) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[repeated] [int] NOT NULL,
 CONSTRAINT [PK_Hashtags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Links]    Script Date: 01/06/2016 11:32:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Links](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](140) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[sortOrder] [int] NOT NULL,
	[link] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tweets]    Script Date: 01/06/2016 11:32:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tweets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tweet] [nvarchar](140) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[tweeted] [int] NOT NULL,
 CONSTRAINT [PK_Tweets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Hashtags] ADD  CONSTRAINT [DF_Hashtags_repeated]  DEFAULT ((0)) FOR [repeated]
GO
ALTER TABLE [dbo].[Links] ADD  DEFAULT ((0)) FOR [sortOrder]
GO
ALTER TABLE [dbo].[Tweets] ADD  CONSTRAINT [DF_Tweets_tweeted]  DEFAULT ((0)) FOR [tweeted]
GO
USE [master]
GO
